<div class="container">
  <h2 class="text-info fw-bold">Today Match Report</h2>
  <div class="row  d-flex ">
    <div class=" col-xs-12 cards">
      <h4>IND vs RSA</h4>
      <p>RSA 106/8 (20)</p>
      <p>IND 110/2 (16.4)</p>
      <span class="text-primary">India won by 8 wkts</span>
      <p class="text-secondary">PLAYER OF THE MATCH </p>
      <p style="margin-top:-10px">Arshdeep Singh</p>
     
      <hr>
      <p class="fw-bold">Rohit Sharma:</p>
      <span class="text-secondary">The wicket was tricky. You learn a lot playing such a game. You understand what the team needs to do in tough conditions. It was nice to play a game like that. We knew the bowlers will get something seeing grass on the pitch, but we didn't expected help for the full 20 overs. It was still damp. Both teams were in the contest and the team that played better won the game. We started well, got 5 wickets in quick time and that was the turning point. Perfect showcase of how to bowl when there is help for the pacers (talking about Deepak Chahar and Arshdeep). We knew it wasn't going to be easy. Got to respect the conditions. Lost two wickets and that partnership between KL and Surya got us home.</span>
      <p class="fw-bold mt-3">Temba Bavuma:</p>
      <span class="text-secondary">As a batting unit we failed to apply ourselves in those conditions. We didn't expect the pitch to play this way. Yes we expected it to be spicy but normally you will be able to hit through the line in this part of the world. Seamers needed runs behind then to defend. They tried their best and supported by spinners as well. I thought we fought well late with the bat. That's a positive.</span>


    </div>
    <div class=" col-xs-12 cards">
      <h4>PAK vs ENG</h4>
      <p>PAK 145 (19)</p>
      <p>ENG 139/7 (20)</p>
      <span class="text-primary">Pakistan won by 6 runs</span>
      <p class="text-secondary">PLAYER OF THE MATCH </p>
      <p style="margin-top:-10px">Mohammad Rizwan</p>
     
      <p class="fw-bold">Babar Azam:</p>
      <span class="text-secondary">Shadab, the way he came back, the way he started was nice to see especially after an injury. The way Rizwan built the innings, the pitch was two-paced and he played well. The confidence of Aamer Jamal was high and he was confident he could do it in that last over. To win T20Is, you need wickets and in the middle overs, Shadab produced that. These things build up the team and gives us confidence.</span>
      <p class="mt-3 fw-bold">Moeen Ali:</p>
      <span class="text-secondary">Very good game, disappointed. We are a better team than that. We struggled in the middle, with their spinners who bowled well. We knew it was hard for the bowlers to control with the dew and overnight rain, we needed to hang in there and go hard at the end. Hes amazing. On a real slow wicket, he bowled fast. He is massive for our team. He gets the big wickets and he's been awesome in the two games he has played for us [on Wood].</span>

    </div>
    <div class=" col-xs-12 cards">
      <h4>BAN vs UAE</h4>
      <p>BAN 169/5 (20)</p>
      <p>UAE 137/5 (20)</p>
      <span class="text-primary">Bangladesh won by 32 runs</span>
      <p class="secondary">PLAYER OF THE MATCH </p>
      <p style="margin-top:-10px">Mehidy Hasan Miraz</p>
   
      <hr>

      <p class="fw-bold">Nurul Hasan | Bangladesh captain:</p>
      <span class="text-secondary">I am feeling good, the whole team played really well. All the boys were keen to play well. It's a great effort from the boys, I think it'll help for the World Cup. Winning is a habit, I think this will help us in New Zealand and World Cup.</span>

      <p class="fw-bold mt-3">Chundangapoyil Rizwan | UAE captain:</p>
      <span class="text-secondary">Unfortunately, didn't go our way. We were short by some runs in the powerplay and we lost a lot of wickets, that was the difference. They bowled in the right channels and they showed their quality. Credit to them. It's a learning curve for us. If we play more matches like this, we'll improve. It was patch-up work, we were trying to build a partnership. I'd like to take this experience for the World Cup. We will travel to Australia within a couple of days and we have a couple of practice games.</span>

      

    </div>
  </div>
</div>
