<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="mx-auto">Hello {{title}}</h1>
      <hr class="text-danger p-1">
      <h4>Function Call in Angular</h4>
      <button class="bg-danger text-white" (click)="getName()">Click Me</button>
      <hr>
    

     <app-blog-post></app-blog-post>
     <app-user-list></app-user-list>
     <app-student-list></app-student-list>
     <app-country-list></app-country-list>
     <!-- ---------------Module-login---------------------- -->
    <app-login></app-login>

     
      
     
    </div>
  </div>
</div> 